html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: sans-serif;
  color: #0e4ea5;
  user-select: none;
}

.container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0;
}

.presentation-wallpaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 8rem;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  margin: 0;
}

#presentationButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  height: 10%;
  font-size: 3vw;
  color: #0e4ea5;
  border: 4px solid #053172;
  border-radius: 5em;
  cursor: pointer;
  margin: 0;
  outline: none;
}

#presentationButton:hover {
  background-color: #0e4ea5;
  color: #ffffff;
  border-color: #ffffff;
  -webkit-keyframes: fade 0.5s;
  animation: fade 0.5s;
}

.presentation-wallpaper .presentation-logo {
  display: flex;
  width: 40%;
  height: fit-content;
  max-height: 60%;
}

.presentation-wallpaper .presentation-logo img {
  height: auto;
  margin: 0 auto;
  min-width: 60%;
  min-height: 80%;
  width: 100%;
  max-width: 60%;
  max-height: 100%;
}

.presentation-wallpaper.hide {
  visibility: hidden;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.leigao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: #ffffff;
  border-radius: 0 0 1em 1em;
  height: 100%;
  z-index: 2;
}

.cellshop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0034a4;
  border-radius: 0 0 1em 1em;
  height: 100%;
  width: 80%;
  margin: auto 5px;
}

.cellshop-container .logo-1 {
  display:flex;
  width: fit-content;
  height: auto;
}

.cellshop-container .cellshop {
  height: auto;
  margin: 0 auto;
  min-width: 100%;
  min-height: 80%;
  width: 100%;
  max-width: 80%;
  max-height: 100%;
}

.test-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin: 5px 5px 0 auto;
}

.container .question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  font-size: 3.5vw;
  width: 100%;
  height: 30%;
  text-align: center;
}

.container .question-container p {
  margin: 0 auto 0 auto;
  color: white;
  width: 70%;
  height: fit-content;
}

.container .answer-container {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  align-content: space-around;
}

.container .answer-container div {
  display: flex;
  margin: 0.5vw auto;
  width: 40%;
  padding: 0;
}

.container .answer-container div button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 15vh;
  border-radius: 1rem;
  background-color: white;
  border: 4px solid #053172;
  color: #0e4ea5;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
}

.container .answer-container div button .letters {
  width: 100%;
  font-size: 1.6vw;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #053172;
  color: white;
  margin: 0;
}

.container .answer-container p {
  pointer-events: none;
  margin: auto 1rem;
}

.container .answer-container button:hover {
  color: #0677A1;
  border-color: #0677A1;
  transition: all 0.5s ease;
}

.container.show {
  visibility: visible;
}

.popup-container {
  background-color: black;
  opacity: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  text-align: center;
  font-size: 8rem;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup-container.show {
  visibility: visible;
  -webkit-keyframes: fadeIn 1s;
  animation: fadeIn 1s;
}

.points-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  height: 10%;
  background-color: white;
  border: 4px solid #053172;
  border-radius: 2rem 2rem 0 0;
  opacity: 60%;
  margin: 0;
}

.points-container div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12%;
  height: 100%;
  margin: 0;
}

.points-container div span {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}