body {
  font-family: sans-serif;
  color: #0e4ea5;
  user-select: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #464646;
}

.container  .points-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
}

.container .points-container div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 25%;
}

.points-container div span {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
}

.points-container div button {
  width: 30px;
  height: 30px;
}